* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {

    background-image: url(img/Fundo-paciente.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.quadrado {

    width: 80ch;
    height: 120ex;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 0.5em 0.5em 0.5em  ;
    
  }

  h1 {

    position: absolute;
    top: 10%;
    left: 32%;
    font-size: 6ex;
    display: flex;
    text-align: center;

  }

  .quadrado img {

    width: 50ch;
    height: 25ex;
    position: absolute;
    top: 30%;
    left: 17%;
  }

  #btn  {

    width: 25ch;
    height: 7ex;
    background-color: #c8aa86bb;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    font-size: 110%;
    cursor: pointer;
  }