* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {

   background-color: #c8aa8694; 
}

.quadrado {

    width: 100ch;
    height: 80ex;
    /* border: solid black; */
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
}

h1 {

    position: absolute;
    top: 15%;
    left: 40%;
    font-family: 'Antic Slab';

}

p {

    position: absolute;
    top: 35%;
    left: 30%;
    font-size: 3ex;
    display: flex;
    text-align: center;
    font-family: 'Antic Slab';

}

#btn{

    width: 150px;
    height: 30px;
    background-color: #C8AA86;
    color: white;
    position: absolute;
    top: 95%;
    left: 85%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    color: black;
    font-size: 15px;
    box-shadow:  0.1em 0.1em 0.1em;
    cursor: pointer;
    font-family: 'Antic Slab';

}